<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <button id="add">Add course!</button>
        <div id="CourseRatings">
            <div class="rating">
                Select Course: <select id="courseSelect1"  style="width:200px;" class="js-example-basic-single"></select><br>
                <br>
                <label for="r1">Rating (between 1 and 5): </label>
                <input type="number" id="r1" name="r1" min="1" max="5"><br>
                <!-- <button id="delete1" class="deletebutton">Delete course!</button> -->
            </div>
        </div>
        <button type="button" id="submit">Submit!</button>
        <p id="output"></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/scripts/main.js"></script>
    </body>
</html>