<DOCTYPE! html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    </head>
    <body>
        <select id="select_page" style="width:200px;" class="operator"> 
            <option value="">Select a Course</option>
            <option value="15122">15-122</option> 
            <option value="15213">15-213</option>
            <option value="15210">15-210</option>
            <option value="15151">15-151</option>
        </select><br>
        <button type="button" id="submit">Click Me!</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/scripts/main.js"></script>
    </body>
</html>